html {
    background-color: $whitesmoke-2;
    scroll-behavior: smooth;
}

a {
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    margin: 0;
}


#block-search,
#block-search * {
    box-sizing: border-box;
}

#block-search {
    background-color: #ECE8E1;
    border: 1px solid #00000033;
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
}

.tl-container {
    padding: 10px 30px;
}


.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}


.accordion-enter-active,
.accordion-leave-active {
    will-change: height, opacity;
    transition: all ease 0.5s;
    overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
    height: 0 !important;
    opacity: 0;
}

.left_fade-enter-active,
.left_fade-leave-active {
    will-change: left, opacity;
    transition:
        left 0.5s ease,
        opacity 0.3s ease;
}

.left_fade-enter-from,
.left_fade-leave-to {
    left: -100% !important;
    opacity: 0 !important;
}



.vc-dark {


    &.vc-container {
        background-color: $black;
        font-family: Manrope;
        color: $whitesmoke;
    }

    &.vc-bordered {
        border-width: 0px;
        border-radius: 0px;
    }


    & .vc-header {

        & .vc-title-wrapper .vc-title {
            font-weight: 400;
        }

        & .vc-arrow:hover {
            background-color: $green;

        }

    }

    & .vc-weekday {
        color: $whitesmoke;
    }

    & .vc-highlight-bg-solid {
        background-color: $green;
        border-radius: 0;
    }

    & .vc-day-content:hover {
        border-radius: 0;
        background-color: rgba(red($gray), green($gray), blue($gray), 0.2);
    }

    & .vc-focus:focus-within {
        box-shadow: 0 0 0 2px $gray;
        border-radius: 0;
    }

    & .vc-nav-title {
        font-family: Manrope;
        color: $whitesmoke;
        font-weight: 400;
    }

    &.vc-popover-content {
        background-color: $black;
        border-color: $green;

    }

    & .vc-nav {


        &-title:hover,
        &-arrow:hover,
        &-item:hover {
            background-color: rgba(red($gray), green($gray), blue($gray), 0.2);
        }

        &-item {
            font-family: Manrope;
            color: $whitesmoke;
            font-weight: 400;

            &.is-active {
                background-color: $green;
            }

            &.is-current {
                color: $green;
                font-weight: 600;
            }

        }


    }




}